<h1>Todolist:</h1>
<% @todos.each do |todo| %>
  <% if todo.status == false %>
  <% else %>
  <% end %>
  <%= link_to todo.title, todo_path(todo.id) %>
<% end %>

<%= link_to 'Add a new todo', new_todo_path %>