<h1>Todolist:</h1>
<ul class="list-group">
  <% @todos.each do |todo| %>
    <li class="list-group-item">
      <% if todo.status == false %>
        <i class="fa fa-square-o"></i>
      <% else %>
        <i class="fa fa-check-square-o"></i>
      <% end %>
      <%= link_to todo.title, todo_path(todo.id) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add a new todo', new_todo_path, class: 'btn btn-primary' %>