<h1> <%= @todo.title %> </h1>

<p> <%= @todo.description %> </p>
<p> <%= @todo.deadline.strftime("%d/%m/%Y") %> </p>

<% if @todo.status == true %>
  <p>Todo completed</p>
<% else %>
  <p>Todo not completed</p>
<% end %>

<%= link_to 'Back', todos_path %>
